<div class="panel panel--project">
  <header class="project-header project-header--for-home centered u-position-context">
    <div class="project-header__details">
      <h1 class="project-header__name--overview">
        <span class="project-header__name-text"><%= @project.title %></span>
      </h1>
    </div>
  </header>
</div>

