<div class="panel panel--project">
  <header class="project-header project-header--for-home centered u-position-context">
    <div class="project-header__details">
      <h1 class="project-header__name--overview">
        <span class="project-header__name-text"><%= @project.title %></span>
      </h1>
    </div>
  </header>

  <div class="card-grid card-grid--2-up">
    <article class="card card--todoset card--app card--docked">
      <%= link_to "#", class: "card__link" do %>
        <div class="card__content">
          <header class="card__header centered">
            <h1 class="card__heading flush txt--truncate">
              <span class="card__title">To-dos</span>
            </h1>
          </header>
        </div>
      <% end %>
    </article>

    <article class="card card--message_board card--app card--docked">
      <%= link_to bucket_messages_url(@project), class: "card__link" do %>
        <div class="card__content">
          <header class="card__header centered">
            <h1 class="card__heading flush txt--truncate">
              <span class="card__title">Message board</span>
            </h1>
          </header>
        </div>
      <% end %>
    </article>

    <article class="card card--vault card--app card--docked">
      <%= link_to "#", class: "card__link" do %>
        <div class="card__content">
          <header class="card__header centered">
            <h1 class="card__heading flush txt--truncate">
              <span class="card__title">Docs</span>
            </h1>
          </header>
        </div>
      <% end %>
    </article>
  </div>
</div>

